.header-landing {
  @include font-db-(400);

  &-top {
    border-bottom: 1px solid white;

    .nav {
      justify-content: flex-end;
      align-items: center;

      &-item {
        &:not(:last-child) {
          border-right: 1px solid white;
        }

        .form {
          padding: 0 1rem;

          &-control {
            background-color: transparent;
            border-color: $light;
            border-right: 0;
          }
          .btn-outline-light {
            border-left: 0;
          }
        }
      }

      &-link {
        color: white;
        padding: 0.75rem 1rem;
      }
    }
  }

  .navbar {
    > .container {
      align-items: flex-start;
    }

    &-brand {
      .logo {
        &-small {
          display: none;
        }
      }
    }

    &-toggler {
      border-color: #b7b7b7;
      color: #b1b1b1;
    }

    .nav {
      &-link {
        line-height: 1;
        color: white;
        @include rfs(26);

        &.dropdown-toggle {
          display: flex;
          align-items: center;
        }
      }
    }

    .dropdown {
      &-menu {
        border-radius: 0;
        border-width: 0;
        box-shadow: $box-shadow-sm;
        background-clip: border-box;
      }
      &-item {
        padding: 0.25rem 1rem;
        line-height: 1;
        color: $text-muted;
        @include hover {
          color: $body-color;
          background-color: transparent;
        }
      }
    }
  }

  // Desktop
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-fixed !important;
  }

  // Mobile
  @include media-breakpoint-down(md) {
    background-color: white;
    box-shadow: $box-shadow-sm;
    z-index: $zindex-sticky;

    .header-landing {
      &-top {
        display: none;
      }
    }

    .navbar {
      > .container {
        align-items: center;
      }

      &-brand {
        .logo {
          display: none;

          &-small {
            display: inline-block;
          }
        }
      }

      .nav {
        &-link {
          color: $body-color;
        }
      }
    }
  }
}

.is-sticky {
  .header-landing {
    background-color: white;
    box-shadow: $box-shadow;

    &-top {
      display: none;
    }

    .navbar {
      > .container {
        align-items: center;
      }
      &-brand {
        .logo {
          display: none;

          &-small {
            display: block;
          }
        }
      }

      .nav {
        &-link {
          color: $body-color;
        }
        &-item {
          &:not(:nth-last-child(2)) {
            border-right: 1px solid $border-color;
          }
        }
      }
    }
  }
}
