.header {
  background-color: white;
  box-shadow: $box-shadow-sm;
  @include font-db-(400);

  .navbar {
    &-toggler {
      border-color: $border-color;
      border-radius: 0.25rem;
      color: $text-muted;
    }

    .nav {
      &-item {
        &.active {
          .nav-link {
            color: $primary;
          }
        }

        &-form {
          .dropdown {
            &-menu {
              background-color: #ebebeb;
              padding: .5rem;

              .form-control {
                border-width: 0;
              }

              .input-group-append {
                .btn {
                  border-top-right-radius: .25rem;
                  border-bottom-right-radius: .25rem;

                  i {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &-link {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        color: $body-color;
        line-height: 1;
        font-size: 20px;

        &:hover {
          color: $primary;

          &.dropdown-toggle::after {
            border-top-color: $primary;
            border-bottom-color: $primary;
          }
        }
      }
    }

    .dropdown {
      &-toggle {
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          border-top-color: $text-muted;
          border-bottom-color: $text-muted;
        }
      }

      &-menu {
        border-width: 0;
        border-radius: 0;
      }

      &-item {
        color: $text-muted;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 18px;
        line-height: 1;

        &.active {
          color: $primary;
          background-color: transparent;
        }

        @include hover {
          color: $primary;
          background-color: transparent;
        }
      }
    }
  }

  // Desktop only
  @include media-breakpoint-up(xl) {
    .navbar {
      .nav {
        &-item {
          &:not(:first-child) {
            border-left: 1px solid $border-color;
          }

          &-form {
            .dropdown {
              &-toggle {
                &::after {
                  display: none;
                }
              }

              &-menu {
                width: 300px;
              }
            }
          }
        }
      }

      .dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }

        &-menu {
          margin-top: -1px;
          box-shadow: $box-shadow-sm;
        }
      }
    }
  }

  // Mobile only
  @include media-breakpoint-down(lg) {
    &-top {
      display: none;
    }

    .navbar {
      &-brand {
        .logo {
          display: none;
        }
      }

      &-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nav {
        &-item {
          &-form {
            .dropdown {
              &-toggle {
                display: none;
              }

              &-menu {
                margin-top: 1rem;
                display: block;

                .form-control {
                  background-color: transparent;
                }

                .input-group-append {
                  .btn {
                    background-color: transparent;
                    border-width: 0;
                    color: $body-color;

                    i {
                      display: block;
                    }

                    span {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }

        &-link {
          padding: .5rem;
        }
      }

      .dropdown {
        &.show {
          .dropdown-toggle {
            color: $primary;
          }
        }

        &-menu {
          margin-top: 0;
          padding-top: 0;
        }

        &-item {
          text-align: center;
        }
      }
    }
  }
}

.sticky-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: $zindex-sticky;

  .header {
    background-color: transparent;
    box-shadow: none;

    &-top {
      border-bottom: 1px solid white;

      .nav {
        justify-content: flex-end;
        align-items: center;

        &-item {
          &:not(:last-child) {
            border-right: 1px solid white;
          }

          .form {
            padding: 0 1rem;

            &-control {
              background-color: transparent;
              border-color: $light;
              border-right: 0;
              color: white;
            }

            .btn-outline-light {
              border-left: 0;
            }
          }
        }

        &-link {
          color: white;
          padding: 0.75rem 1rem;
          display: flex;
          align-items: center;

          span {
            margin-right: 0.25rem;

            img {
              height: 1.25rem;
            }
          }
        }
      }
    }
  }

  .navbar {
    >.container {
      align-items: flex-start;
    }

    &-brand {
      .logo {
        &-small {
          display: none;
        }
      }
    }

    .nav {
      &-item {
        &:not(:first-child) {
          border-left-width: 0;
        }

        &.active {
          .nav-link {
            color: white;
          }
        }

        &-more {
          display: none;
        }

        &-form {
          display: none;
        }
      }

      &-link {
        line-height: 1;
        color: white;
        @include rfs(26);

        &:hover {
          color: white;

          &.dropdown {
            &-toggle {
              &::after {
                border-top-color: white;
                border-bottom-color: white;
              }
            }
          }
        }
      }
    }

    .dropdown {
      &-toggle {
        &::after {
          border-top-color: white;
          border-bottom-color: white;
        }
      }
    }
  }

  &.is-sticky {
    .header {
      background-color: white;
      box-shadow: $box-shadow-sm;

      &-top {
        display: none;
      }

      .navbar {
        >.container {
          align-items: center;
        }

        &-brand {
          .logo {
            display: none;

            &-small {
              display: block;
            }
          }
        }

        .nav {
          &-link {
            color: $body-color;
            font-size: 20px;

            &:hover {
              color: $primary;

              &.dropdown-toggle::after {
                border-top-color: $primary;
                border-bottom-color: $primary;
              }
            }
          }

          &-item {
            &:not(:last-child) {
              border-right: 1px solid $border-color;
            }

            &.active {
              .nav-link {
                color: $primary;
              }
            }

            &-form {
              display: inline-block;
            }

            &-more {
              display: inline-block;
            }
          }
        }

        .dropdown {
          &-toggle {
            &::after {
              border-top-color: $text-muted;
              border-bottom-color: $text-muted;
            }
          }
        }
      }
    }
  }
}