#landingPage {
  // Sec 1
  #sec1 {
    position: relative;
    z-index: 2;

    .sec {
      &-bg {
        img {
          width: 100%;
        }
      }

      &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 120px;
      }
    }

    .container {
      position: relative;
    }

    .weather {
      position: absolute;
      bottom: -110px;
      right: 15px;
      width: 275px;
      height: 275px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: $zindex-sticky - 1;
      box-shadow: $box-shadow;
      @include font-db-(400);
      @include gradient-x(
        $start-color: $secondary,
        $end-color: $primary,
        $start-percent: 0%,
        $end-percent: 100%
      );

      &-inner {
        width: 240px;
        height: 240px;
        background-color: white;
        border-radius: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-current {
        display: flex;
        align-items: center;
      }

      &-icon img {
        height: 63px;
        width: auto;
      }

      &-number {
        font-size: 100px;
        line-height: 1;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 12px;
          right: 0;
          width: 5px;
          height: 5px;
          border-radius: 10rem;
          background-color: $body-color;
        }
      }

      &-city {
        margin-top: -1.5rem;
        line-height: 1;
        font-size: 24px;
        width: 100%;
        text-align: right;
      }

      &-maxmin {
        text-align: center;
        font-size: 36px;
        color: $text-muted;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        &-item {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 12px;
            right: 10px;
            width: 3px;
            height: 3px;
            border-radius: 10rem;
            background-color: $text-muted;
          }
        }

        li {
          display: inline-block;

          i {
            margin-left: 0.25rem;
            font-size: small;
          }
        }
      }

      &-time {
        text-align: center;
        color: $text-muted;
      }
    }

    .slick {
      &-item {
        text-align: center;

        &:focus {
          outline: none;
        }

        img {
          max-width: 100%;
          margin: auto;
        }
      }
    }

    // Desktop
    @include media-breakpoint-up(lg) {
      .sec-bg {
        img {
          width: 100%;
          height: 680px;
          object-fit: cover;
          object-position: center bottom;
        }
      }
    }

    // Tablet
    @include media-breakpoint-only(lg) {
      .sec-overlay {
        padding-top: 2.5rem;
        .weather {
          bottom: -150px;
        }
      }
    }

    // Mobile
    @include media-breakpoint-down(md) {
      .sec-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center bottom;
        }
      }

      .sec-overlay {
        position: static;
        padding-top: 0;
      }

      .weather {
        position: static;
        margin: auto;
        background: transparent;
        box-shadow: none;
        color: white;
        width: 100%;
        height: auto;

        &-inner {
          background: transparent;
          padding-top: 0;
          padding-bottom: 0;
        }

        &-icon img {
          filter: invert(1);
        }

        &-number,
        &-maxmin-item {
          &::before {
            background-color: white;
          }
        }

        &-maxmin,
        &-time {
          color: white;
        }
      }

      .slick {
        margin-top: -2.5rem;
      }
    }
  }

  // Sec 2
  #sec2 {
    > .container {
      position: relative;
      padding-top: 116px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10px;
        width: 100%;
        height: 100%;
        background: url("../images/leaf-dot-copy.png") no-repeat left top;
        background-size: auto;
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -10px;
        width: 100%;
        height: 100%;
        background: url("../images/leaf.png") no-repeat right bottom;
        background-size: auto;
        z-index: 0;
      }
    }

    .title {
      position: relative;
      display: inline-block;
      padding: 1rem 2.5rem;
      color: white;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      z-index: 1;
      @include gradient-x(
        $start-color: $secondary,
        $end-color: $primary,
        $start-percent: 0%,
        $end-percent: 100%
      );

      h1 {
        @include rfs(54);
        line-height: 1;
        margin-bottom: 0;

        small {
          @include rfs(50);
          font-weight: 400;
          display: block;
        }
      }
    }

    .slick {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;

      &-arrow {
        padding: 0.5rem;
      }

      &-item {
        padding: 1.5rem 0.5rem;

        &:focus {
          outline: none;
        }
      }

      // &-list {
      //   margin: 0 1rem;
      // }

      &-track {
        display: flex;
        align-items: flex-end;
      }

      .card {
        border-radius: 0;
        border-width: 0;
        box-shadow: $box-shadow-sm;

        &-img {
          border-radius: inherit;
        }

        &-text {
          text-align: left;
          color: $body-color;
          min-height: 38px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &:hover {
          background-color: $primary;
          box-shadow: $box-shadow;

          .card {
            &-text {
              color: white;
            }
          }
        }

        &:focus {
          outline: none;
        }
      }
    }

    .see-all {
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 45px 0;
    }

    //   Desktop
    @include media-breakpoint-up(lg) {
      .slick {
        margin-top: -4rem;
        &-list {
          padding-top: 90px !important;
        }
        &-center {
          // width: 480px !important;

          transform: scale(1.4) translateY(-39px);
          z-index: 2;
        }
      }
    }

    // Mobile
    @include media-breakpoint-down(md) {
      overflow-x: hidden;

      > .container {
        text-align: center;
        padding-top: 30px;

        &::before {
          background-position: right top;
          background-size: 50%;
        }

        &:after {
          display: none;
        }
      }

      .title {
        padding: 0.75rem 4rem;
        margin: auto;

        h1 {
          small {
            display: inline-block;
            margin-right: -4px;
          }
        }
      }

      .slick {
        margin-bottom: 0;

        &-list {
          margin: 0;
        }

        &-item {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  // Sec 3
  #sec3 {
    @keyframes bgcircle {
      from {
        top: -100px;
      }

      to {
        top: -60px;
      }
    }

    @keyframes bgcircle-sm {
      from {
        top: 50px;
      }

      to {
        top: 100px;
      }
    }

    padding: 50px 0;
    position: relative;

    .sec-bg {
      position: absolute;
      left: -150px;
      animation: bgcircle 3s linear infinite alternate;
    }

    .title {
      display: block;
      border-bottom: 1px solid $border-color;
      position: relative;
      margin-bottom: 1.5rem;

      &::before {
        content: "";
        position: absolute;
        bottom: -3.5px;
        left: 0;
        width: 120px;
        height: 7px;
        background-color: #40a993;
      }

      h1 {
        @include rfs(54);
        line-height: 1;

        small {
          @include rfs(50);
          font-weight: 400;
          display: block;
        }

        span {
          @include gradient-x(
            $start-color: $secondary,
            $end-color: $primary,
            $start-percent: 0%,
            $end-percent: 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    // Mobile
    @include media-breakpoint-down(md) {
      .sec-bg {
        left: 50%;
        transform: translateX(-50%);
        animation: bgcircle-sm 3s linear infinite alternate;
      }
    }
  }

  // Sec 4
  #sec4 {
    padding: 50px 0;

    // > .container-fluid {
    //   padding-right: 0;
    // }

    .title {
      h1 {
        @include rfs(54);
        line-height: 1;
        color: $primary;

        small {
          @include rfs(50);
          font-weight: 400;
          display: block;
          color: $body-color;
        }
      }
    }

    .col {
      &-right {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        height: 556px;
        padding-right: 0;
      }
    }

    .slick {
      &-item {
        overflow: hidden;

        &:focus {
          outline: none;
        }
      }

      &-dots {
        position: static;
        text-align: left;
      }
    }
    // Desktop
    @include media-breakpoint-up(lg) {
      .slick-item {
        position: relative;
        > .container {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
        &-overlay {
          max-width: 50%;
        }
        &-img {
          max-width: 50%;
          margin-left: auto;
          img {
            width: 100%;
          }
        }
      }
    }
    // Mobile
    @include media-breakpoint-down(md) {
      .slick-item {
        position: relative;
        &-img {
          padding-left: 15px;
          img {
            max-width: 100%;
            margin-left: auto;
          }
        }
      }
    }
  }

  // Sec 5
  #sec5 {
    position: relative;
    .map {
      height: 675px;

      &-overlay {
        position: absolute;
        top: 5%;
        left: 10%;
        right: 0;
        max-width: 300px;
        padding: 0 15px;
        z-index: 401;

        .card-legend {
          border-width: 0;
          border-radius: 0;
          box-shadow: $box-shadow-sm;
          .card {
            &-header {
              padding: 0.5rem;
              background-color: $primary;
              color: white;
              line-height: 1;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
          }
          .list-group {
            &-item {
              padding: 0.5rem 0.5rem;
            }
          }
        }
      }
    }

    .leaflet-tile-pane {
      filter: grayscale(1);
    }

    // Mobile
    @include media-breakpoint-down(md) {
      .map {
        height: 80vh;
        &-overlay {
          top: 1rem;
        }
      }
    }
  }

  // Sec 6
  #sec6 {
    background: url("../images/sky.png") no-repeat center bottom;
    background-size: 100%;
    padding: 70px 0 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/building.png") no-repeat center bottom;
      background-size: 100%;
    }

    .video {
      border: 0.5rem solid $primary;
      border-radius: 0.25rem;
    }

    .title {
      text-align: center;

      h5 {
        @include rfs(39);
        margin-bottom: 0;
      }

      h1 {
        @include rfs(84);
        color: $primary;
        text-transform: uppercase;
        word-spacing: 0.5rem;
        margin-bottom: 0;
      }
    }

    .info {
      color: white;

      h4 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 0;
      }

      h1 {
        font-size: 156px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 0.6;

        small {
          font-size: 48px;
          font-weight: 400;
          margin-left: -35px;
        }
      }
    }

    // Mobile
    @include media-breakpoint-down(md) {
      &::before {
        background: url("../images/building-md.png") no-repeat center bottom;
        background-size: 100% auto;
      }

      .title {
        margin-bottom: 1.5rem;

        h5 {
          font-size: 24px;
        }
      }

      .info {
        text-align: center;

        h1 {
          font-size: 134px;
        }
      }
    }
  }

  // Sec 7
  #sec7 {
    padding: 50px 0;

    .slick {
      &-track {
        display: flex;
        align-items: center;
      }

      &-item {
        text-align: center;
        padding: 0.5rem 1rem;
        filter: grayscale(1);

        img {
          max-width: 100%;
          margin: auto;
        }

        @include hover {
          filter: grayscale(0);
        }
      }
    }
  }

  // Sec 8
  #sec8 {
    // background: url("../images/dot-bg.png") no-repeat center bottom;
    // background-size: 100% auto;
    padding: 45px 0 90px;

    .app {
      text-align: center;

      &-name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;

        span {
          margin-right: 1rem;
        }

        h1 {
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }

      h2 {
        font-weight: 400;
        margin-bottom: 1.5rem;
      }
    }

    // Mobile
    // @include media-breakpoint-down(md) {
    //   background-size: auto 45vh;
    // }
  }
}
