// Colors
$primary: #0294ba;
$secondary: #71b977;

$footer-bg: #424242;
$footer-color: #b3b3b3;
$copyright-bg: #323131;
$copyright-color: #969696;

// Fonts
$headings-font-family: "DB Heavent";
$enable-responsive-font-sizes: true;

// Links
$link-hover-decoration: none;

// Buttons
$btn-font-family: "DB Heavent";
$btn-border-radius: 0;
$btn-font-size: 24px;
$btn-line-height: 1;

// Slick
$slick-font-path: "../scss/slick/fonts/";
$slick-loader-path: "../scss/slick/";
$slick-dot-size: 1rem;
$slick-dot-color-active: $primary;

// Modal
$modal-backdrop-opacity: 0.8;
